<hr />
<p style="text-align: center;"><strong>Medical History</strong></p>
<hr />
<p style="text-align: left;">Name: {{first_name}}</p>
<p style="text-align: left;">Surname: {{last_name}}</p>
<p style="text-align: left;">Email: {{email}}</p>
<p style="text-align: left;">Date: {{today_date}}</p>
<p style="text-align: left;">Medical History:</p>
<ol>
<li style="text-align: left;">Date :{{date_of_record}}</li>
<li style="text-align: left;">Symptoms of illness: {{symptoms}}</li>
<li style="text-align: left;">Diagnosis: {{diagnosis}}</li>
</ol>
<p style="text-align: left;">&nbsp;</p>